@use "../global/variables" as *;
@use "../global/functions" as *;
@use "../global/mixins" as *;
@use "sass:math";

.footer {
    @include flex_center;
    flex-direction: column;
    padding: rem(40) 0;
    width: 100%;
    position: relative;
    overflow: hidden;

    @media screen and (min-width: $tablet-landscape) {
        padding: rem(80) 0;
    }

    .footer-container {
        width: 100%;
    }
}